body{
    background-color: beige;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    float: left;
}
nav li{
    padding: 0;
    margin: 0;
    line-height: 35px;
    background-color: brown;
    width: 150px;
    box-sizing: border-box;
}
nav a{
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    color: antiquewhite;
}
nav p{
    width: 450px;
    text-align: center;
    line-height: 50px;
    margin: 10px 25px;
    padding: 1px;
    background-color: brown;
    color: antiquewhite;
    display: inline-block;
    font-size: 1.2em;
}